<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="AllFragments/base-fragment::layout(~{::section})">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
</head>


<body>
<!--  ==========================================================  Body Start ========================================================================================-->
<section>
	<div class="container text-center">

		<h1>Employees List</h1>

		<div th:switch="${listEmployees}" class="container my-5">

			<p>
				<a href="/employee/show-new-employee-form" class="btn btn-primary">
					<i class="fas fa-user-plus ml-2"> Add Employee </i>
				</a>
			</p>

			<div class="text-center mb-3">
				<form th:action="@{/employee/page}">
					<input type="hidden" name="sortField" th:value="${sortField}"/>
					<input type="hidden" name="pageNo" th:value="1"/>
					<input type="hidden" name="sortDir" th:value="${sortDir}"/>
					Filter:
					<input type="text" name="keyword" th:value="${keyword}" required/>
					<input type="submit" value="Search">
					<input type="button" value="Clear" onclick="clearFilter()"/>
				</form>
			</div>


			<!-- ========================================= Here is the Table of Employee ============================================================================== -->
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<!--Table head-->
					<thead class="table-success">
					<tr>
						<th>Photo</th>
						<th>
							<a th:href="@{'/employee/page?pageNo=' + ${currentPage} + '&sortField=firstName&sortDir=' + ${reverseSortDir}}">
								Employee First Name</a>
						</th>
						<th>
							<a th:href="@{'/employee/page?pageNo=' + ${currentPage} + '&sortField=lastName&sortDir=' + ${reverseSortDir}}">
								Employee Last Name</a>
						</th>
						<th>
							<a th:href="@{'/employee/page?pageNo=' + ${currentPage} + '&sortField=email&sortDir=' + ${reverseSortDir}}">
								Employee Email</a>
						</th>
						<th>
							<a th:href="@{'/employee/page?pageNo=' + ${currentPage} + '&sortField=phone&sortDir=' + ${reverseSortDir}}">
								Phone</a>
						</th>
						<th>UserName</th>
						<th>Password</th>
						<th>Designation</th>
						<th>Photo</th>
						<th>Action</th>
					</tr>
					</thead>

					<!--Table Body-->
					<tbody>
					<tr th:each="employee : ${listEmployees}">
						<td>
							<img class="my_profile rounded-circle"
								 src="" th:src="@{'/image/' + ${employee.photo}}"
								 alt="profile Photo" height="110px" width="110px">
						</td>
						<td th:text="${employee.firstName}"></td>
						<td th:text="${employee.lastName}"></td>
						<td th:text="${employee.email}"></td>
						<td th:text="${employee.phone}"></td>
						<td th:text="${employee.userName}"></td>
						<td th:text="${employee.password}"></td>
						<td th:text="${employee.designation}"></td>
						<td th:text="${employee.photo}"></td>
						<td>
							<a th:href="@{/employee/show-form-for-update/(id=${employee.id})}"
							   class="btn btn-info">
								<i class="fas fa-user-edit ml-2">&nbsp; Update</i>
							</a>

							<a th:href="@{/employee/delete-employee/(id=${employee.id})} "
							   onclick="if (! (confirm('Are you sure you want to delete this Employee?'))) return false"
							   class="btn btn-warning">
								<i class="fas fa-user-times ml-2">&nbsp;&nbsp; Delete</i>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<!-- ================================================== Here is the division of pagination================================================================ -->
			<nav aria-label="Page navigation example">
				<ul class="pagination">

					<div class="col-sm-2">
						Total Rows: [[${totalItems}]]
					</div>

					<!-- Previous page logic -->
					<li th:if="${currentPage != 1}" class="page-item">
						<a th:href="@{'/employee/page?pageNo=' + ${currentPage - 1}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
						   class="page-link" href="#">Previous</a>
					</li>

					<!-- All page show-->
					<li th:classappend="${currentPage==i ? 'active' : ''}"
						th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
						<a th:href="@{'/employee/page?pageNo=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
						   class="page-link" href="#">
							<span th:text="${i}"></span>
						</a>
					</li>

					<!-- Next page Logic-->
					<li th:if="${currentPage != totalPages}" class="page-item">
						<a th:href="@{'/employee/page?pageNo=' + ${currentPage + 1}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
						   class="page-link" href="#">Next</a>
					</li>

					<!--	Last Page Logic-->
					<li th:if="${currentPage < totalPages}" class="page-item">
						<a th:href="@{'/employee/page?pageNo=' + ${totalPages}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
						   class="page-link" href="#">Last</a>
					</li>
				</ul>
			</nav>


		</div>
	</div>


	<!-- ============================================== All script logic is append here ====================================================================================================-->
	<script type="text/javascript">
		function clearFilter() {
			window.location = '/employee/home';
		}
	</script>


</section>
</body>
</html>